html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetika, sans-serif;
	font-size: 16px;
}

.intro {
	width: 100%;
	height: 100%;
	margin: auto;
	background: url('../img/bg_img4.jpg') 0 -400px; /* Main background*/
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
}

#intro .container {
	flex-direction: row;
	width: 60%;
	top: 0;
	left: 0;

}

.content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	flex-direction: row;
}
.passport-photo {
	background: rgba(0,0,0,0.7);
	width: 100%;
	bottom: 28px;
	padding-bottom: 0px;
	height: 150px;
}
.content img {
	margin: 50px 0 0 0; 
	border-radius: 50%; 
	width: 150px;" 
}

.content h1 {
	margin-top: 60px;
	margin-bottom: 10px;
	flex-direction: column;
	font-size: 60px;
	text-shadow: 4px 4px #111111;
	text-transform: capitalize;
}
.content h1 a {
	color: #fff;
	text-decoration: none;
}
.content h1 a:hover{
	color: #646499;
	text-shadow: 2px 2px #ffffff;
	background: rgba(0,0,0,0.7);
	padding: 8px;
	border-radius: 5px;
}

.content h2 {
	width: 50%; 
	margin: 0 auto;
	color: #ffd700;
}

.content hr {
	 height: 1px; border: 4px #fff solid;
}

.content p {
	font-size: 20px;
	color: #fff;
	margin: 0 auto;
	padding-top: 8px;
	padding-bottom: 10px;
	font-weight: bold;
	width: 60%;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	
}
nav {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}

.btn {
	border-radius: 9px;
	text-decoration: none;
	font-size: 28px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	color: #ffd700;
	font-weight: bold;
	text-shadow: 2px 2px #111111;
}

.btn:hover {
	color: #fff;
	background: rgba(0,0,0,0.7);
	padding: 14px;
}

/*NAVIGATION FOR DESKTOP*/

.main_nav .menu-icon {
  display: none;
}


/*STYLING FOR MOBILE DEVICES*/

@media screen and (max-width: 768px) {
	html, body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		font-family: Arial, Helvetika, sans-serif;
		font-size: 16px;
	}
	.passport-photo {
		height: 100px;
		padding-bottom: 8px;
	}
	.passport-photo img {
		margin-top: 10px;
	}
	h1 a {
		font-size: 50px;
	}
	.intro {
		background: url('../img/bg_img4.jpg'); /* Main background*/
		background-repeat: no-repeat;
		background-size: cover;
	}

	.content p {
		font-size: 20px;
		color: #fff;
		margin: 0 auto;
		padding-top: 8px;
		padding-bottom: 10px;
		font-weight: bold;
		width: 85%;
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
		bottom: 20px;
	}

	/*NAVIGATION BUTTON AND MENU */
	#main_nav_1 {
		width: 100%;
		position: absolute;
		right: 0;
		top: 8px;
		bottom: 0;
		padding: 20px;
	}
	.main_nav .menu-icon {
  		display: block;
  		position: relative;
  		bottom: 0;
  		padding: 20px 0px 10px 20px;
  		color: #ffffff;
  		text-decoration: none;
	}
  	.main_nav a {
    	display: none;
  	}
  	.main_nav a.menu-icon {
  		float: right;
  		display: block;
  	}

  	/*WHEN MENU BUTTON IS CLICKED*/
  	.main_nav.responsive {
    	position: relative;
    	min-height: 200px;
    	background: rgba(0,0,0,0.5);
  	}
  	.main_nav.responsive .menu-icon {
    	position: absolute;
    	right: 0;
    	top: 0;
    	padding: 20px 10px 10px 20px;
  	}
  	.main_nav.responsive a {
    	float: none;
    	text-shadow: #646464 8px 0 8px 2px;
    	font-weight: 3em;
    	display: block;
    	text-align: left;
    	font-size: 25px;
    	padding: 10px 48px;
    	text-transform: capitalize;
  	}
}