<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kipkorir Kiptoo - Resume</title>
</head>
<body>
	<header>
		<div class="passport-photo">
			<img src="./img/passport_img.jpg">
		</div>
		<nav>
			<div class="main_nav" id="main_nav_1">
				<a class="btn" href="#">Profile</a>
				<a class="btn" href="#">Education</a>
				<a class="btn" href="#">Skills</a>
				<a class="btn" href="#">Portfolio</a>
				<a class="btn" href="#">Github</a>
				<a href="javascript:void(0);" style="font-size: 15px;" class="menu-icon" onclick="mainNav()">Menu &#9776;</a>
			</div>
		</nav>
	</header>
	<section id="content-page">
		<div id="profile" class="container">
			<h2>Profile</h2>
			<div title-column>
				<p> Full Name: </p>
				<p> 1st Postal Address: </p>
				<p> 2nd Postal Address: </p>
				<p> Cell Phone: </p>
				<p> Email:</p>
			</div>
			<div detail-column>
				<p>Kipkorir Kiptoo</p>
				<p>115-20103 Eldama Ravine, Baringo County, Kenya</p>
				<p>10912-30100 Eldoret, Uasin Gishu County, Kenya</p>
				<p>+254 723693606</p>
				<p> ipkipkorir@gmail.com</p>
			</div>
		</div>
		<div id="education" class="container">
			<h2>Education</h2>
			<p>Moi University, 2007 - 2011</p>
			<p>Bachelor of Science in Computer Science, 2nd Class Honours Upper Division</p>
		</div>
		<div id="skills" class="container">
			
		</div>
		<div id="portfolio" class="container">
			
		</div>
		<div id="github" class="container">
			
		</div>
		
	</section>

</body>
</html>